.cart-container {
	padding: 0 144px;
	width: calc(100vw - 288px);
	height: calc(100vh - 64px);
}

.cart-title {
	font-weight: 700;
	font-size: 1.25em;
	padding: 24px;
	text-align: center;
}

.cart-grid {
	display: flex;
}

.cart-container-grid {
	width: calc((100vw - 288px) / 2);
	height: inherit;
	display: flex;
	justify-content: center;
}

.cart-box-1 {
	background: #ffffff;
	width: 512px;
	height: 480px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
}

.cart-box-2 {
	background: #ffffff;
	width: 512px;
	height: 320px;
	margin-bottom: 16px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
}
.cart-box-3 {
	background: #ffffff;
	width: 512px;
	height: 144px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
}

.cart-box-title {
	padding: 0 16px;
	height: 48px;
	font-weight: 700;
	display: flex;
	align-items: center;
}

.cart-box-items-container {
	padding: 0 16px;
	padding-bottom: 16px !important;
}

.cart-box-items {
	box-sizing: border-box;
	border: 1px solid #000000;
	border-radius: 16px;
	padding: 16px;
	display: flex;
}

.cart-box-1-sequence-3 {
	height: calc(100% / 3);
	padding-left: 16px;
}
